@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

body {
    font-family: 'Anonymous Pro', monospace;
    color: white;
    background-color: black;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
}

.password {
    display: block;
    margin: 0 auto;
}

.noname {
    display: none;
    margin: 0 auto;
}

.submit {
    display: block;
    margin: 20px auto 0 auto;
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.message {
    display: none;
    text-align: center;
    margin-top: 20px
}

.thanks-message {
    color: blue;
    text-align: center;
    margin-top: 20px
}

@media (max-width: 999px) {
    .title {
        font-size: 8vw;
    }

    .subtitle {
        font-size: 5vw;
    }

    .submit {
        font-size: 4vw; 
    }

    input[type="password"] {
        font-size: 5vw; 
    }
}

@media (min-width: 1000px) {
    .title {
        font-size: 50px;
    }

    .subtitle {
        font-size: 30px;
    }

    .submit {
        font-size: 1vw;
    }
}
